
.toggle-switch {
  position: relative;
  display: flex;
  width: 150px;
  height:50px;
  background: #f0f0f0;
  border-radius: 30px;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.toggle-option {
  flex: 1;
  text-align: center;
  z-index: 1;
  font-weight: 500;
  color: #666;
  transition: color 0.2s;
}
.toggle-option.active {
  background-color: #ffffff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.toggle-switch .toggle-indicator {
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 45%;
  background: white;
  border-radius: 30px;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.toggle-indicator.active-0 {
  transform: translateX(0%);
}

.toggle-indicator.active-1 {
  transform: translateX(110%);
}

.toggle-switch .toggle-option:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.toggle-switch .toggle-option:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.toggle-switch .toggle-option:hover {
  color: #224891;
}

.toggle-switch .toggle-option.selected {
  color: #224891;
  font-weight: 600;
}

/* Responsive toggle switch styles for different screen sizes */
@media (min-width: 1025px) and (max-width: 1439px) {
  .toggle-switch {
    width: 170px;
    height: 55px;
    padding: 5px;
    margin-bottom: 22px;
  }

  .toggle-option {
    font-size: 17px;
  }
}

@media (min-width: 1440px) {
  .toggle-switch {
    width: 180px;
    height: 60px;
    padding: 6px;
    margin-bottom: 25px;
  }

  .toggle-switch .toggle-indicator {
    width: 45%;
  }

  .toggle-option {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .toggle-switch {
    width: 190px;
    height: 62px;
    padding: 7px;
    margin-bottom: 27px;
  }

  .toggle-option {
    font-size: 19px;
  }
}

@media (min-width: 2560px) {
  .toggle-switch {
    width: 200px;
    height: 65px;
    padding: 8px;
    margin-bottom: 30px;
  }

  .toggle-option {
    font-size: 20px;
  }
}