.my-button {
  border: 2px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #EAEBEC;
  color: #000;
  transition: all 0.2s ease;
  font-size: 16px;
}

.my-button:hover {
  background-color: #22489144;
}

.my-button.selected {
  background-color: #406edf;
  color: white;
}

/* Responsive button styles for different screen sizes */
@media (min-width: 1025px) and (max-width: 1439px) {
  .my-button {
    font-size: 17px;
    padding: 17px;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

@media (min-width: 1440px) {
  .my-button {
    font-size: 18px;
    padding: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media (min-width: 1920px) {
  .my-button {
    font-size: 19px;
    padding: 19px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
}

@media (min-width: 2560px) {
  .my-button {
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}