.nav-button {
  background-color: #FFF;
  border: 2px solid transparent;
  color:#406EDF;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
}

.nav-button:hover {
  background-color: #22489166;
  color:#FFF;
  border: 2px solid #406EDF;
}

.text{
  font-size: 16px;
  font-weight: 600;
}

/* Responsive nav button styles for different screen sizes */
@media (min-width: 1025px) and (max-width: 1439px) {
  .nav-button {
    font-size: 19px;
    padding: 21px 32px;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .text {
    font-size: 17px;
  }
}

@media (min-width: 1440px) {
  .nav-button {
    font-size: 20px;
    padding: 22px 35px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .text {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .nav-button {
    font-size: 21px;
    padding: 23px 37px;
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .text {
    font-size: 19px;
  }
}

@media (min-width: 2560px) {
  .nav-button {
    font-size: 22px;
    padding: 24px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .nav-button{
    width:45%;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 10px;    
    
  }
}
