.card-item {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  position: relative;
  outline: none;
}

.card-button {
  width: 100%;
  background: white;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;  
  cursor: pointer;
  text-align: center;
}

.card-button:hover {
    transform: scale(1.05);
    filter: brightness(110%);
}
.card-button.selected {
  border-color: #406edf;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-text {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tick{
    width:50px;
    height:50px;
    border-radius: 50%;
    position:absolute;
    top:10%;
    right:0%;
    background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}