 .weight-input-container {
  width: 100%;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  display:flex;
  flex-direction: column;
  align-items: space-around;
}
@media (max-width: 500px) {
.weight-input-container {
  width: 100%;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
}
